@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Simple demonstration of basic CRUD funcionalities using repository pattern, entity framework and ASP.NET MVC UI.</p>
    <a  class="btn btn-primary" href='@Url.Action("Index", "User")'>Show me</a>
</div>
